:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-right: 0;
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0;

}

* {
  box-sizing: border-box;
  padding-right: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 13px;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  }
 
::-webkit-scrollbar-thumb {
  /*background: linear-gradient(90deg, #9e4673, #3d4a59);*/
  border-radius: 1rem;
  background-color: #cbcbcb;
}
 
::-webkit-scrollbar-thumb:hover {
  /*background: linear-gradient(270deg, #9e4673, #3d4a59, #9e4673);*/
  background-color: #c2c2c2;
}
 
/* for Firefox */
 html {scrollbar-color: #dd3333 #ffffff34;}